*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: wheat;
}

.counter{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.counter span{
  font-size: 40px;
}

.counter .count{
  display: block;
  margin-top: 20px;
}

.buttons{
  display: flex;
  margin-top: 50px;  
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}

.buttons button{
  font-size: 20px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px solid black;
  color: rgb(237, 4, 245);
  cursor: pointer;
  background-color: white;
  transition: 0.5s all ease-in-out;
  position: relative;
}

.buttons button:hover{
  background-color: rgb(237, 4, 245);
  color: white;
} 


input{
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: 1px solid rgb(237, 4, 245);
  text-align: center;
  font-size: 20px;
  color: rgb(237, 4, 245);
  background-color: white;
}

input::placeholder{
  font-size: 16px;
  opacity: 0.6;
}
